body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:#5e5c5c;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #ccc5c5;
}
h1, h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    padding: 5px 0;
}
.step {
    margin-bottom: 20px;
}