*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: white;
}

/* -------------------------- Navbar --------------------------  */

header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: white;
    display: flex;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;
}

.logo{
    font-size: 24px;
}

/* -------------------------- Home --------------------------  */

.home{
    width: 100%;
    height: auto;
    background: url(/assest/HomeImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 140px 0;
}

.home h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.home p{
    font-size: 20px;
    margin-bottom: 10px;
}

.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(255, 15, 15);
}

.search-box button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    background: rgb(255, 15, 15);
    color: white;
    cursor: pointer;
}